body 
{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
img
{
  width: 100%; 
}
.logo 
{
  padding-top: 40px;
  margin-left: 40px;
  width: 100px;
}

nav ul 
{display: flex;

  
}
nav ul li 
{margin: 10px;
  
}

nav ul li a
{ 
  color: #0065fc; 
  text-decoration: none; 
}

 .hebergement_info 
{
  font-weight: bolder;
  padding-top: 20px;
  border-top: 2px solid blue;
}
.activity_info  a
{
  color: black;
}
.inscrir_info
{
  font-weight: bolder;
  margin-right: 0;
  padding-right: 5px;
  padding-top: 20px;
}
.activity_info 
{
  font-weight: bolder;
  text-decoration: none;
  padding-top: 20px; 
}

nav ul li a:hover 
{
  color: #deebff;
}

/******************************TITLE******************************/

.home1 
{
  display: block;
  width: auto;
  margin: 0 0 20px 0;
  margin-left: 40px;
}


/****************************BUTTON SEARCH***********************************/

.home2 
{
  display: block;
  margin-left: 40px;
}
input 
{
  position: relative;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.5s;
}

.search-form
 {
  display: flex;
  height: 35px;
  margin: 0 0 20px 0;
}
.search-input 
{
  background: #fff;
  width: 200px;
  height: 35px;
  border: none; /* modif*/
  outline: none; /* modif*/
  padding: 0 15px;
  border: 1px solid #f2f2f2;
  border-radius: 0 0 0 0;
  color: black;
  font-weight: bold;
}

.search-icon 
{
  width: 35px;
  background-color: #f2f2f2;
  display: FLEX;
  align-items: CENTER;
  justify-content: CENTER;
  border-radius: 15px 0 0 15px;
}

.search-button 
{
  border-radius: 0 15px 15px 0;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0065fc;
  color: #fff;
}

input[type="submit"]:hover 
{
  background: #deebff;
}
.search-icon1{
  display: none;
}

/**********************************--FILTRE SECTION---*****************************/

.home3 
{
    
  
  display: inline-flex;
  flex-direction: row;
  height: 50px;
  width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 40px;
  

  
}
.filter
{
margin-left: 0;


}



.filter-button 
{
  background-color: white;
  border: 1px solid #d6d4d4;
  border-radius: 2rem;
  padding: 10px 20px 10px 0;
  position: RELATIVE;
  display: FLEX;
  height: 25px;
  align-items: CENTER;
  font-weight: bold;
}
.filter-button .button 
{
  outline: none;
  color: black;
  font-size: 16px;
  margin-left: 15px;
  text-decoration: none;
  
}

.filters-icons 
{
  font-size: 20px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 2rem;
  border: none;
  padding: 10px;
  outline: none;
  position: RELATIVE;
  height: 25px;
  width: 25px;
}
.filters-icons::before 
{
  position: ABSOLUTE;
  top: 50%;
  left: 50%;
  transform: TRANSLATE(-50%, -50%);
}



.filter-button:hover{
  background:rgb(219, 228, 228) ;
transition: all 0.1s;
}
/**********************************information*****************************/
.home4 
{
  margin: 0;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.information
 {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
 

  
}
.information_icons{
  background-color: white;
  font-size: 20px;
  color: #0065fc;
  border-radius: 2rem;
  border: 2px solid #d6d4d4;
  padding: 5px;
  outline: none;
  position: RELATIVE;
  height: 15px;
  width: 15px;
  font-size: 15px;
  margin-left: 10px; 
  display: flex;
  justify-content: center;
}
/*************************div class hebergement*******************************/
.hebergement 
{
display: flex;
 width: 100%;
 height: 100%;
 flex-direction: row;
 
 margin: 0;
 
 

}
/*****************************hebergement A MARSEILLE***********************/
#housing 
{
  
  width: 70%;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-right: 30px;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  display: inline-flex;
}
.housing_title{
  padding-top: 25px;
margin-left: 45px;
}

.housing_title a
{
  
  margin-left: 10px;
 padding-top: 10px;
  text-decoration: none;
  color: black;
    
}

.housing-container 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
} 

.housing_hotel:hover 
{
  background:rgb(219, 228, 228) ;
  transform: translateY(-5px);
  transition: all 0.1s;

}


.housing_hotel
 {  
  
  
  border-radius: 20px;
   margin: 15px;
  transition: 0.1s;
  border:  4px solid rgb(253, 249, 249);
  /*filter: drop-shadow(0 0 5px rgb(26, 26, 202));       filtre*/
  background-color:white;
  width: 270px;
  padding-bottom: 10px;
  position: relative;

  
}



.housing_hotel a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}

a
{
  color: black;
  text-decoration: none;
   
  
}
.housing-thumb
{
width: 100%;
height: 140px;
border-radius:20px 20px 0 0 ;
object-fit: cover;
transition: 0.1s;
position: relative;
transition-property: all;
}




.housing_body
{
padding-left: 10px;
position: relative;
width: 100%;
text-align: left;
transition-property: all;
box-sizing: border-box;
}


.housing_body_title
{
    font-size: 1rem;
    
}
    
.housing_body_price 
{
    font-size: 0.75rem
}


.housing_body_point 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  
}
/************************affiche*******************************/
.moore a
{
  text-decoration: none;
  
margin-top: 30px;

color: black;

margin-left: 45px

}

/************************aside plus populaire*********************************/

aside 
{
 
  width: 30%;
    background-color: #f2f2f2;
    padding: 0 20px;
    border: 3px solid rgb(253, 249, 249);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.aside_hotel a {
  display: flex;
  width: 100%;
  height: 160px;
  color: black;
  text-decoration: none;
}
.aside_hotel a img {
  width: 50%;
}
.aside_title
{display: flex;
  align-items: center;
  justify-content: space-between;
}
 

.aside_title_populaire a 
{
  text-decoration: none;
  color: black;

}.aside_title .direction {
  font-size: 25px;
}

.direction 
{
  width: auto;
  height: auto;
  float: right;
  padding-top: 20px;
  font-size: 25px;
}

.aside-container
{display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;

}

.aside_hotel
 {background-color: white;
  border-radius: 20px;
  width: 100%;
  transition: 0.1s;
  border: 4px solid rgb(253, 249, 249);


   
}


.aside-thumb
{border-radius: 20px 0 0 20px;
  object-fit: cover;
  transition: 0.3s;
  transition-property: all;
 
}


.aside-body

{
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 10px 5px;

}
.aside_hotel:hover 
{
  background: rgb(219, 228, 228);
  transform: translateY(-5px);
  transition: all 0.1s;

}

.aside-title-hotel {
  margin: 0;
}
.aside-price {
  margin: 0;
}
.aside-point {
  display: flex;
  list-style: none;
  margin: 0;
}
.blue-star 
{
  color: #0065fc;
}
.grey-star
 {
  color: rgb(218, 212, 212);
}





/************************activity*******************************/

#activity{
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  width: 96%;
  

}
img {
  width: 100%;

}
.activity_title a
{
  text-decoration: none;
  color: black;
  
}
.body-activity
{
    margin-left: 10px;
    margin-top: 10px;
    width: auto;

 }
.activity-container a
{
  
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  height: 100%;
}
.activity-container
{
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
  
  width: 100%;
  grid-auto-columns: 100px;
  
  
}

.activity-container .activity_port 
 {
  grid-column: 1/2;
  grid-row: 1 / 7;
}
.activity-container .activity_pomegues{
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.activity-container .activity_frioul{
  grid-column: 2 / 3;
  grid-row: 4/ 4;
}
.activity-container .activity_calanques{
  grid-column: 3 / 4;
  grid-row: 1/ 7;
}

.activity-container .activity_garde{
  grid-column: 4 / 5;
  grid-row: 1/ 4;
}
.activity-container .activity_longchamp{
  grid-column: 4 / 5;
  grid-row: 4/ 5;
}


.activity_port 
{
  
 background-color: white;
 border-radius: 30px;
 box-shadow: 0 5px 50px rgb(235, 231, 231); 
 width: 100%;
 height: 86%;
 border:4px solid rgb(253, 249, 249);
 padding-top: 0;
 transition: all.1s;
 }
 
.activity-thumb-port 
{ 
  border-radius: 30px 30px 0 0  ;
 object-fit: cover;
 width: 100%;
 height: 420px;
 margin: 0;
}
.activity_port:hover{
  transition: 0.1s;
  background-color: rgb(219, 228, 228);
  transform: translateY(-5px);
  }


.activity_pomegues
{
background-color:white;
border-radius: 30px;
box-shadow: 0 5px 50px rgb(235, 231, 231); 
width: 100%;
height: 98%;
transition: all 0.1s;
border:  4px solid rgb(253, 249, 249);
padding-top: 0;
transition: all.1s;
}

.activity-thumb-pomegues
{
  width: 100%;
  height: 200px;
  justify-content: center;
  border-radius: 30px 30px 0 0  ;
  object-fit: cover;
  margin: 0;
}
.activity_pomegues:hover{
transition: 0.1s;
background-color: rgb(219, 228, 228);
transform: translateY(-5px);
}


  .activity_frioul
  {
    
    margin-top: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    transition: all 0.1s;
    border:  4px solid rgb(253, 249, 249);
    padding-top: 0;
    width: 100%;
    height: 77%;
    transition: all.1s;
 }
 .activity-thumb-frioul
  {
    width: 100%;
    height: 100px;
    justify-content: center;
     border-radius: 30px 30px 0 0  ;
     object-fit: cover;
     
  }
 .activity_frioul:hover
 {
   transition: 0.1s;
   background-color:rgb(219, 228, 228);
   transform: translateY(-5px);
 }

  .activity_calanques{
    
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    width: 100%;
    height: 86%;
    transition: all 0.1s;
    border:  4px solid rgb(253, 249, 249);
    padding-top: 0;
    transition: all.1s;
   
 }
 .activity-thumb-calanques{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  width: 100%;
  height: 420px;
  margin: 0;
 
}
 .activity_calanques:hover{
   transition: 0.3s;
   background-color:rgb(219, 228, 228);
   transform: translateY(-5px);

 }


.activity_garde{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  width: 100%;
  height: 80%;
   transition: all .1s;
   border:  4px solid rgb(253, 249, 249);
   padding-top: 0;
   transition: all.1s;
 }
 .activity-thumb-garde{
  width: 100%;
  height: 155px;
  justify-content: center;
   border-radius: 30px 30px 0 0  ;
   object-fit: cover;
}
 .activity_garde:hover{
   transition: 0.1s;
   background-color: rgb(219, 228, 228);
   transform: translateY(-5px);
 }


.activity_longchamp{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231) ; 
  width: 100%;
 height:90%;
  transition: all .1s;
  border:  4px solid rgb(253, 249, 249);
  position: relative;
  transition: all.1s;
}
.activity-thumb-longchamp{
  width: 100%;
  height: 130px;
   border-radius: 30px 30px 0 0  ; 
}

.activity_longchamp:hover{
  transition: 0.1s;
  background-color:rgb(219, 228, 228) ;
  transform: translateY(-5px);
}

/*****************************FOOTER**************************/
.footer_body 
{
  background-color:#F2F2F2;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
 
}
.list{
  padding: 30px;
  display: flex;
  flex-direction: column;
 
}
.list-title-element
{
  margin-bottom: 15px;
  
  font-size: 1rem;
  
}

.list_assistance{
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}
li{
  text-decoration: none;
  list-style: none;

}

footer ul li a 
{
  text-decoration: none;
  color: black;
  
}



/*************** Media Queries **********************/

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 670px */
@media screen and (min-width: 360px)and (max-width: 670px)
{
  body
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
  header{
    display: block;
    width: 100%;
    height: 150px;
    padding: 0;
    display: flex;
    flex-direction: column;
   
    
   
  }
  
  .logo 
  {
    margin: 0;
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100px;
    height: 50px;
    position: absolute;
    font-size: 20px;
  
  }
nav 
 {                     
  display: block;
  width: 100%; 
   height:100% ;
  display: flex;
  flex-direction: column ;
  flex-flow: wrap;
}
nav ul 
{
  display: flex;
  flex-flow: row wrap-reverse;
  width: 100%;
  height: 100%;
  padding: 0;
}

nav ul li 
{
  position: relative;
  display: flex;
  margin: 0;
 padding-top: 20px;
}
nav ul li a 
{ 
  color: #0065fc; 
  text-decoration: none;
}

.hebergement_info 
{ 
  margin-right: 0;
  border-top: 0;
  border-bottom: 2px solid blue;
  MARGIN-RIGHT: 90px;
  margin-left: 50px;
  padding-bottom: 20px;
}
.inscrir_info
{
  margin-left: 270px;
 
  padding-right: 5px;
  font-size: 20px;
}
.activity_info 
{
  text-decoration: none;
  color: black;
  margin-right: 0;
  border-bottom: 2px solid rgb(233, 233, 240);
  
  
}
  .home1 
  {
  display: block;
  width: 100%;
  margin-left: 10px;
  }
  .home2
  {
    margin-left: 10px;
    width: auto;
  }
  

.search-button 
{
  display: none;

 
}



.search-icon1 {
 height: 75px;
 width: 100px; 
  background-color:#0065FC ;
  display: FLEX;
  align-items: CENTER;
  justify-content: CENTER;
  border-radius: 20px 20px 20px 20px;
  color: white;
  font-size: 20px;
 
 outline: none;
 border: none;
 position: relative;
 
 cursor: pointer;

}

.search-form
 {
  height: 75px;
  width: 100%;
display: inline-flex;
  
  outline: none;
   border-radius: 2rem solid #f2f2f2;
   margin-right: 10px;
   box-sizing: border-box;
   width: 100%;
  border-radius:20px 20px 20px 20px  ;
  border: solid   #f2f2f2 0.5px;
   justify-content: center;
   

}
.search-input 
{
  padding-left: 15px;
  width: 100%;
  height: 70px;
  
  outline: none; 
  border: none;

  color: black;
  position: relative;

  
}

.search-icon 
{ height: 75px;
  width: 80px;
  background-color: #e7e1e1;
  display: FLEX;
  align-items: CENTER;
  justify-content: CENTER;
  border-radius: 20px 0 0 20px;
  font-size: 20px;

  
}

.input {
  margin-right: 0;
}
.home3
{
  display: flex;
  width: 100%;
  height: 220px;
  margin-top: 0;
  margin-left: 0;
  display: inline-flex;
  flex-wrap: wrap;

}

.filter
{font-weight: bolder;
 font-size: 16px;
 margin-left: 10px;
 
 width: 300px;
}
.filter-button 
{
margin-right: 10px;
margin-left: 10px;
margin-bottom: 5px;

}






.home4{
  margin-left: 0;
}
.hebergement 
{
display: flex;
 width: 100%;
 height: 100%;
 flex-direction:column-reverse;
margin-left: 0;
}
aside {
  width: 100%;
  height:100% ;
  border-radius: 0;
  margin-left: 0;
  background-color: #f2f2f2;
  
}
.aside-container
{

  width: 100%;
  
  
 
  
} 
.aside_title{

width: 100%;

margin-left: 0;

}
.direction 
{margin: auto;
  
  margin-top: 0;
  height: 20px;
  width: 20px;


}
.aside_title .direction
{
  width: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  

}
.aside_hotel
 {
   margin: 20px;
   border:  4px solid rgb(253, 249, 249) ;
   margin-left: 0;
   width: 315px;
   height: 140px;
}
.aside_hotel a {
  display: flex;
  width: 100%;
  padding-left: 0;
}
.aside-thumb
{
width: 135px;
height: 140px;

object-fit: cover;

}


.aside-body

{
  display: flex;
  flex-direction: column;
justify-content: space-between;
width: 180px;
height: 140px;
padding: 0;
margin: 0;
border-radius:0  20px 20px 0;



}
.aside-body.aside-thumb{
  display: flex;
  flex-direction: row;
}

.aside-title-hotel
{padding-left: 10px;
  
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 10px;
 font-size: 16px;
}

.aside-price
{ padding-left: 10px;
  margin: 0;
  padding-top: 10px;
}



.aside-point
 {
  display: flex;
  list-style: none;
 padding-left: 10px;
  
}





#housing {
background-color: white;
  width: 100%;
  height: 100%;
  margin-left:0 ;
  border-radius: 0;
  padding: 0;
  justify-content: left;
  
}
.housing-container 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
} 
.housing_title{
  padding-top: 5px;
margin-left: 10px;
}
.housing_hotel
 {  

 
  width: 310px;
  height: 170px;
  margin-left: 0;
  

  
}
.housing-thumb
{
width: 100%;
height: 105px;

}


.housing_body
{

width: 100%;

}


.housing_body_title
{
  margin: 0;
  padding-top: 5px;
    
}
    
.housing_body_price 
{padding-top: 5px;
  margin: 0;
}


.housing_body_point 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 10px;
}


.moore a
{
  text-decoration: none; 
color: black;
padding-left: 28px;
margin:0;
padding-top: 5px;
}


#activity{
  margin-top: 10px;
  width: 100%;
  margin-left: 0;
 
}

.activity_title a
{
  text-decoration: none;
  color: black;
  margin:0;
  padding-left: 28px;
}

.activity-container
{
  width: 100%;
  
  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
  
}



 .activity_port{
  
 background-color: white;
 border-radius: 30px;
 box-shadow: 0 5px 50px rgb(235, 231, 231); 
 height: 150px;
 width: 320px;
 border:4px solid rgb(253, 249, 249);
 margin: 10px;
 justify-content: center;
 transition: all.1s;
 }
 
.activity-thumb-port
{ object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}



.activity_pomegues{
  
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }
  
  .activity-thumb-pomegues
 { object-fit: cover;
   border-radius: 30px 30px 0 0  ;
   height: 100px;
  width: 320px
 }

 
  
 .activity_frioul
  
 {
  
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }
 
  
 .activity-thumb-frioul
 { object-fit: cover;
   border-radius: 30px 30px 0 0  ;
   height: 100px;
  width: 320px
  
 }


 .activity_calanques{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }

.activity-thumb-calanques{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
 

}

.activity_garde{
  
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
 }
 .activity-thumb-garde{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}
.activity_longchamp{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
}
.activity-thumb-longchamp{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}
.footer_body 
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.list-title-element{
  
  width: 150px;
}
.list-element 
{

  width: 240px;
 justify-content: left;
 margin: 0;
 margin-right: 5px;
 
}
}

/************************************************************************************************************************/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 760px et 1024px */
@media screen and (min-width: 760px) and (max-width: 1024px)


{
  body
  {
  
    height: 100%;
display: flex;
flex-direction: column;
margin: 0;
    padding: 0;
  }
 
  header{
   margin-left:0 ;

  }

.nav ul {
  margin-right: 15px;
}

  .home1 

{
    display: block;
    width: 100%;
    margin-left: 6px;
    
    
  }
  .home2{
    margin-left:6px ;
  }

.home3
{display: flex;
  flex-direction: row;
margin-left: 4px;
  width: 100%;
 height: 100%;
  flex-wrap: wrap;
  justify-content: left;

  
}
.filter
{
  font-size: 17px;
 margin-left: 10px;
 
 margin-right: 20px;
position: relative;

padding: 0;

 
}
.filter-button 
{
margin-right: 10px;
margin-left: 10px;
margin-bottom: 5px;


}
.filter-button .button 
{
  outline: none;
  color: black;
  font-size: 11px;
  margin-left: 15px;
  text-decoration: none;
  
}
.home4{
  margin-left: 0;
}




.hebergement 
{margin-left: 0;
display: flex;
 width: 100%;
 height: 100%;
 flex-direction: column-reverse;
 

}
aside {
  background-color:#F2F2F2;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
  padding: 0;

}
.aside-container
{
  width: 100%;
 
  display: flex;
  flex-direction: row; 
display: inline-flex;

} 
.aside_title
{
  padding-top: 5px;
  padding-left: 38px;
  
}
.direction 
{
  margin-right: 0;
  padding-left: 350px;
}
.aside_title .direction
{
  width: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  
}
.aside_hotel
 {
  justify-content: space-between;
 margin: 10px;
  border-radius: 20px;
 transition: 0.1s;
 border:  4px solid rgb(253, 249, 249);
}
.aside-thumb
{

  
  border-radius:20px  0 0 20px;
  object-fit: cover;
  transition: 0.1s;
  
  transition-property: all;
}
.aside-body
{
  
 
  padding-left: 0;
  text-align: left;
  transition-property: all;
  border-radius: 0  20px 20px 0;
}
.aside-body.aside-thumb
{
  display: flex;
  flex-direction: column;
}
.aside-title-hotel
{padding-top: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  margin: 0;
  
  font-size: 12px;
}
.aside-price
{ padding-left: 10px;
  margin: 0;
  padding-top: 5px;
}
.aside-point
 {padding-top: 10px;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
#housing {
  background-color:#F2F2F2;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0;
  padding: 0;
}
.housing-container{
  JUSTIFY-CONTENT: CENTER;
}
.housing_title{
  padding-top: 5px;
  margin-left: 0;
  padding-left: 48px;
}
.housing_hotel
 {  
  width: 310px;
  height: 170px;
}
.housing-thumb
{
width: 100%;
height: 105px;
}
.housing_body
{
width: 100%;
}
.housing_body_title
{
  margin: 0;
  padding-top: 5px; 
}  
.housing_body_price 
{padding-top: 5px;
  margin: 0;
}
.housing_body_point 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 10px;
}
.moore a
{
text-decoration: none; 
color: black;
padding-left: 48px;
margin:0;
padding-top: 5px;
}
#activity{
  margin-top: 10px;
  width: 100%;
  margin-left: 0;
}
.activity_title a
{
  text-decoration: none;
  color: black;
  margin-left: 0;
  padding-left: 48px;
}
.activity-container
{JUSTIFY-CONTENT: CENTER;
  width: 100%;
  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
}
 .activity_port
 {
 background-color: white;
 border-radius: 30px;
 box-shadow: 0 5px 50px rgb(235, 231, 231); 
 height: 150px;
 width: 320px;
 border:4px solid rgb(253, 249, 249);
 margin: 10px;
 justify-content: center;
 transition: all.1s;
 }
.activity-thumb-port
{ object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}
.activity_pomegues
{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }
  .activity-thumb-pomegues
 { object-fit: cover;
   border-radius: 30px 30px 0 0  ;
   height: 100px;
  width: 320px
 }
 .activity_frioul
 {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }
 .activity-thumb-frioul
 { object-fit: cover;
   border-radius: 30px 30px 0 0  ;
   height: 100px;
  width: 320px

 }
 .activity_calanques
 {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }

.activity-thumb-calanques
{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}
.activity_garde
{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
 }
 .activity-thumb-garde
 {
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}
.activity_longchamp
{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 320px;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
}
.activity-thumb-longchamp
{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
 width: 320px
}

.footer_body 
{margin-left: 0;
  width: 100%;
  height:100%;
  background-color:#F2F2F2;
  display: flex;
  flex-direction: row;
  JUSTIFY-CONTENT: CENTER;
}



 .list{
  margin-left: 0;

  padding-right: unset;
}

.list-title-element
{
  padding-left: 5px;
  list-style: none;
  text-decoration: none;
  
  font-size: 1rem;
  
}
.list-element 
{
  padding: 5px;
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
  
}





}
@media screen and (max-width: 360px) {

  
    body
    {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      
    }
    header{
      
      width: 100%;
      
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
     justify-content: space-between;

    }
    
    .logo 
    {
      margin: 0;
     
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
      width: 100px;
      height: 50px;
      
      font-size: 20px;
    
    }
  nav 
   {              
    
    width: 100%; 
     height:100% ;
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
  }
  nav ul 
  {flex-direction: row ;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  
  nav ul li 
  {
    
    display: flex;
    margin: 0;
   padding-top: 20px;
  }
  nav ul li a 
  { 
    color: #0065fc; 
    text-decoration: none;
  }
  
  .hebergement_info 
  { 
    margin-right: 0;
    border-top: 0;
    border-bottom: 2px solid blue;
   margin: 10px;
    
  }
  .inscrir_info
  {
   margin: 10px;
    
  }
  .activity_info 
  
  {margin: 10px;
    
    text-decoration: none;
    color: black;
    margin-right: 0;
    border-bottom: 2px solid rgb(233, 233, 240);
    
    
  }
    .home1 
    {
    display: block;
    width: 100%;
    margin-left: 10px;
    }
    .home2
    {
      margin-left: 10px;
      width: auto;
    }
    
  
  .search-button 
  {
    display: none;
  
   
  }
  
  
  .search-icon1 {
   height: 75px;
   width: 100px; 
    background-color:#0065FC ;
    display: FLEX;
    align-items: CENTER;
    justify-content: CENTER;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-size: 20px;
   
   outline: none;
   border: none;
   position: relative;
   
   cursor: pointer;
  
  }
  
  .search-form
   {
    height: 75px;
    width: 100%;
  display: inline-flex;
    
    outline: none;
     border-radius: 2rem solid #f2f2f2;
     margin-right: 10px;
     box-sizing: border-box;
     width: 100%;
    border-radius:20px 20px 20px 20px  ;
    border: solid   #f2f2f2 0.5px;
     justify-content: center;
     
  
  }
  .search-input 
  {
    padding-left: 15px;
    width: 100%;
    height: 70px;
    
    outline: none; 
    border: none;
  
    color: black;
    position: relative;
  
    
  }
  
  .search-icon 
  { height: 75px;
    width: 80px;
    background-color: #e7e1e1;
    display: FLEX;
    align-items: CENTER;
    justify-content: CENTER;
    border-radius: 20px 0 0 20px;
    font-size: 20px;
  
    
  }
  
  .input {
    margin-right: 0;
  }
  .home3
  {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    display: inline-flex;
    flex-wrap: wrap;
  
  }
  
  .filter
  {font-weight: bolder;
   font-size: 16px;
   margin-left: 10px;
   
   width: 300px;
  }
  .filter-button 
  {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  
  }
  
  
  
  
  
  .home4{
    margin-left: 0;
  }
  .hebergement 
  {
  display: flex;
   width: 100%;
   height: 100%;
   flex-direction:column-reverse;
  margin-left: 0;
  }
  aside {
    width: 100%;
    height:100% ;
    border-radius: 0;
    margin-left: 0;
    background-color: #f2f2f2;
    
  }
  .aside-container
  {
  
    width: 100%;
    
   
   
    
  } 
  .aside_title{
  
  width: 90%;
  
  margin-left: 0;
  
  }
  .direction 
  {margin: auto;
    
    margin-top: 0;
    height: 20px;
    width: 20px;
  
  }
  .aside_title .direction
  {
    width: 30px;
    display: flex;
    flex-direction: row;
    position: relative;
    
  
  }
  .aside_hotel
   {
     margin: 20px;
     border:  4px solid rgb(253, 249, 249) ;
     margin-left: 0;
     width: 85%;
     height: 140px;
  }
  .aside_hotel a {
    display: flex;
    width: 100%;
    padding-left: 0;
  }
  .aside-thumb
  {
  width: 135px;
  height: 140px;
  
  object-fit: cover;
  
  }
  
  .aside-body
  
  {
    display: flex;
    flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 140px;
  padding: 0;
  margin: 0;
  border-radius:0  20px 20px 0;
  
  
  }
  .aside-body.aside-thumb{
    display: flex;
    flex-direction: row;
  }
  
  .aside-title-hotel
  {padding-left: 10px;
    
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 10px;
   font-size: 10px;
  }
  
  .aside-price
  { padding-left: 10px;
    margin: 0;
    padding-top: 10px;
    font-size: 10px;
  }
  
  
  .aside-point
   {
    display: flex;
    list-style: none;
   padding-left: 10px;
  padding-top: 0;
  }
  
  
  
  
  #housing {
  background-color: white;
    width: 100%;
    height: 100%;
    margin-left:0 ;
    border-radius: 0;
    padding: 0;
    justify-content: left;
    
  }
  .housing-container 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  } 
  .housing_title{
    padding-top: 5px;
  margin-left: 10px;
  }
  .housing_hotel
   {  
  
    
    width: 85%;
    height: 170px;
    margin-left: 0;
    
  
    
  }
  .housing-thumb
  {
  width: 100%;
  height: 105px;
  
  }
  
  .housing_body
  {
  
  width: 100%;
  
  }
  
  .housing_body_title
  {
    margin: 0;
    padding-top: 5px;
      
  }
      
  .housing_body_price 
  {padding-top: 5px;
    margin: 0;
  }
  
  .housing_body_point 
  {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 10px;
  }
  
  .moore a
  {
    text-decoration: none; 
  color: black;
  padding-left: 28px;
  margin:0;
  padding-top: 5px;
  }
  
  #activity{
    margin-top: 10px;
    width: 90%;
    margin-left: 0;
   
  }
  
  .activity_title a
  {
    text-decoration: none;
    color: black;
    margin:0;
    padding-left: 28px;
  }
  
  .activity-container
  {
    width: 100%;
    
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
    
  }
  
  
   .activity_port{
    
   background-color: white;
   border-radius: 30px;
   box-shadow: 0 5px 50px rgb(235, 231, 231); 
   height: 150px;
   width: 90%;
   border:4px solid rgb(253, 249, 249);
   margin: 10px;
   justify-content: center;
   transition: all.1s;
   }
   
  .activity-thumb-port
  { object-fit: cover;
    border-radius: 30px 30px 0 0  ;
    height: 100px;
   
  }
  
  
  .activity_pomegues{
    
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    height: 150px;
    width: 90%;
    border:4px solid rgb(253, 249, 249);
    margin: 10px;
    transition: all.1s;
    }
    
    .activity-thumb-pomegues
   { object-fit: cover;
     border-radius: 30px 30px 0 0  ;
     height: 100px;
   
   }
  
   
    
   .activity_frioul
    
   {
    
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    height: 150px;
    width: 90%;
    border:4px solid rgb(253, 249, 249);
    margin: 10px;
    transition: all.1s;
    }
   
    
   .activity-thumb-frioul
   { object-fit: cover;
     border-radius: 30px 30px 0 0  ;
     height: 100px;
    
   }
  
   .activity_calanques{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    height: 150px;
    width: 90%;
    border:4px solid rgb(253, 249, 249);
    margin: 10px;
    transition: all.1s;
    }
  
  .activity-thumb-calanques{
    object-fit: cover;
    border-radius: 30px 30px 0 0  ;
    height: 100px;
   
   
  
  }
  
  .activity_garde{
    
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    height: 150px;
    width: 90%;
    border:4px solid rgb(253, 249, 249);
    margin: 10px;
    transition: all.1s;
   }
   .activity-thumb-garde{
    object-fit: cover;
    border-radius: 30px 30px 0 0  ;
    height: 100px;
   
  }
  .activity_longchamp{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    height: 150px;
    width: 90%;
    border:4px solid rgb(253, 249, 249);
    margin: 10px;
    transition: all.1s;
  }
  .activity-thumb-longchamp{
    object-fit: cover;
    border-radius: 30px 30px 0 0  ;
    height: 100px;
   
  }
  .footer_body 
  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .list-title-element{
    
    width: 150px;
  }
  .list-element 
  {
  
    width: 240px;
   justify-content: left;
   margin: 0;
   margin-right: 5px;
   
  }  

}



@media screen and (min-width: 600px) and (max-width: 900px)
{
body 
{
  
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
}
header{
  display: block;
  width: 100%;
  height: 150px;
  padding: 0;
  display: flex;
  flex-direction: column;
 
  
 
}
.home3
{display: flex;
  flex-direction: row;
margin-left: 4px;
  width: 100%;
 height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  
}

.hebergement 
{
display: flex;
 width: 100%;
 height: 100%;
 flex-direction:column-reverse;
margin-left: 0;
}
aside {
  background-color:#F2F2F2;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 30px;
  padding: 0;

}

.aside-container
{
  display: flex;
  flex-direction: column;
  width: 100%;
 
  

} 

.aside_title
{
  padding-top: 5px;
  padding-left: 38px;
  
}
.direction 
{
  margin-right: 0;
  padding-left: 350px;
}
.aside_title .direction
{
  width: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  
}
.aside_hotel
 {
  justify-content: space-between;
 margin: 10px;
  border-radius: 20px;
 transition: 0.1s;
 border:  4px solid rgb(253, 249, 249);
 width: 90%;
}

.aside_hotel a {
  display: flex;
  width: 100%;
  height: 160px;
  color: black;
  text-decoration: none;
}

.aside-thumb
{

  
  border-radius:20px  0 0 20px;
  object-fit: cover;
  transition: 0.1s;
  
  transition-property: all;
}
.aside-body
{
  
 
  padding-left: 0;
  text-align: left;
  transition-property: all;
  border-radius: 0  20px 20px 0;
}
.aside-body.aside-thumb
{
  display: flex;
  flex-direction: column;
}
.aside-title-hotel
{padding-top: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  margin: 0;
  
  font-size: 12px;
}
.aside-price
{ padding-left: 10px;
  margin: 0;
  padding-top: 5px;
}
.aside-point
 {padding-top: 10px;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

#housing {
  background-color:#F2F2F2;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0;
  padding: 0;
}
.housing-container{
  JUSTIFY-CONTENT: CENTER;
}
.housing_title{
  padding-top: 5px;
  margin-left: 0;
  padding-left: 48px;
}
.housing_hotel
 {  
  width: 80%;
  
}
.housing-thumb
{
width: 100%;

}
.housing_body
{
width: 100%;
}
.housing_body_title
{
  margin: 0;
  padding-top: 5px; 
}  
.housing_body_price 
{padding-top: 5px;
  margin: 0;
}
.housing_body_point 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 10px;
}
.moore a
{
text-decoration: none; 
color: black;
padding-left: 48px;
margin:0;
padding-top: 5px;
}
#activity
{
  margin-top: 10px;
  width: 100%;
  margin-left: 0;
}
.activity_title a
{
  text-decoration: none;
  color: black;
  margin-left: 0;
  padding-left: 48px;
}
.activity-container

{    JUSTIFY-CONTENT: CENTER;
  width: 100%;
  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
}

#activity{
  margin-top: 10px;
  width: 100%;
  margin-left: 0;
  
}
.activity_title a
{
  text-decoration: none;
  color: black;
  margin-left: 0;
  padding-left: 48px;
}
.activity-container

{
  JUSTIFY-CONTENT: CENTER;
  width: 100%;
  
  display: inline-flex;
  flex-wrap: wrap;
}
 .activity_port
 {
 background-color: white;
 border-radius: 30px;
 box-shadow: 0 5px 50px rgb(235, 231, 231); 
 height: 150px;
 width: 80%;
 border:4px solid rgb(253, 249, 249);
 margin: 10px;
 justify-content: center;
 transition: all.1s;
 }
.activity-thumb-port
{ object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
  width: 100%;
}
.activity_pomegues
{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 80%;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }
  .activity-thumb-pomegues
 { object-fit: cover;
   border-radius: 30px 30px 0 0  ;
   height: 100px;
   width: 100%;
 }
 .activity_frioul
 {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 80%;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }
 .activity-thumb-frioul
 { object-fit: cover;
   border-radius: 30px 30px 0 0  ;
   height: 100px;
   width: 100%;

 }
 .activity_calanques
 {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 80%;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
  }

.activity-thumb-calanques
{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
  width: 100%;
}
.activity_garde
{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 80%;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
 }
 .activity-thumb-garde
 {
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
  width: 100%;
}
.activity_longchamp
{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
  height: 150px;
  width: 80%;
  border:4px solid rgb(253, 249, 249);
  margin: 10px;
  transition: all.1s;
}
.activity-thumb-longchamp
{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 100px;
  width: 100%;
}



}

