html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

body 
{
  font-family: 'Raleway', sans-serif;
    overflow-x: hidden; 
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;

}



header{
  display: block;
  width: 100%;
  display: flex;
  margin: 0;
}
img{
  width: 100px; 
}
.logo 
{
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  padding-top: 50px;
  margin: 0;
  padding-left: 0;
font-size: 30px;
}



nav 
 {                     
  display: block;
  width: 100%; 
  height: 100px; 
  position: relative;
  margin: 0;

  
}
nav ul 
{
  float: right; 
  left: 0; /* */
  position: relative;
  padding-top: 15px;
  margin-right: 0px;
  
}

nav ul li 
{
  margin-left: 0; 
  float: left;
  list-style-type: none; 
  position: relative; /* */
  right: 0; 
  
}
nav ul li a 
{ 
  color: #0065fc; 
  text-decoration: none; 
  
  
}

 .hebergement_info 

{
  border-top: 2px solid blue;
padding: 28px;

}



.inscrir_info{
  padding: 30px;
  margin-right: 0;
  padding-right: 5px;
  
}
.activity_info 
{padding: 30px;
  text-decoration: none;
  color: rgb(209, 202, 202);
  
}

nav ul li a:hover 
{
  color: #deebff;

}



/******************************tTITLE******************************/

.home1 
{
  display: block;
  width: auto;
  margin: 0 0 20px 0;
  
}

/****************************BUTTON SEARCH***********************************/

.home2 
{margin-top: 30px;
  display: block;
}

input 
{
  position: relative;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.5s;
}
/*:focus::-webkit-input-placeholder 
{
  color: #deebff;
  transition: ease-in-out;
}
*/
.search-form
 {
  display: flex;
  height: 35px;
  margin: 0 0 20px 0;
}
.search-input 
{
  background: #fff;
  width: 200px;
  height: 35px;
  border: none; /* modif*/
  outline: none; /* modif*/
  padding: 0 15px;
  border: 1px solid #f2f2f2;
  border-radius: 0 0 0 0;
  color: black;
}

.search-icon 
{
  width: 35px;
  background-color: #f2f2f2;
  display: FLEX;
  align-items: CENTER;
  justify-content: CENTER;
  border-radius: 15px 0 0 15px;
}

.search-button 
{
  border-radius: 0 15px 15px 0;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0065fc;
  color: #fff;
}

input[type="submit"]:hover 
{
  background: #deebff;
}

/**********************************--FILTRE SECTION---*****************************/

.home3 
{
    
  
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  
}
.filter
{
margin-left: 0;


}



.filter-button 
{
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 2rem;
  padding: 10px 20px 10px 0;
  position: RELATIVE;
  display: FLEX;
  height: 25px;
  align-items: CENTER;
}
.filter-button .button 
{
  outline: none;
  color: black;
  font-size: 16px;
  margin-left: 15px;
  text-decoration: none;
  
}

.filters-icons 
{
  font-size: 20px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 2rem;
  border: none;
  padding: 10px;
  outline: none;
  position: RELATIVE;
  height: 25px;
  width: 25px;
}
.filters-icons::before 
{
  position: ABSOLUTE;
  top: 50%;
  left: 50%;
  transform: TRANSLATE(-50%, -50%);
}



.filter-button:hover{
  background:rgb(219, 228, 228) ;
transition: all 0.1s;
}
/**********************************information*****************************/
.home4 
{
  margin: 0;
  display: flex;
  margin-top: 10px;
}

.information
 {
  background-color: white;
  font-size: 20px;
  color: #0065fc;
  border-radius: 2rem;
  border: none;
  padding: 15px;
  outline: none;
  position: RELATIVE;
  height: 25px;
  width: 25px;
}
/*************************div class hebergement*******************************/
.hebergement 
{
display: flex;
 width: 100%;
 height: 100%;
 
 margin: 0;
 margin-top: 5px;
 

}
/*****************************hebergement A MARSEILLE***********************/
#housing 
{
  
  width: 70%;
  height: 770px;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-right: 30px;
  margin: 10px;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  
}
.housing_title{
  padding-top: 25px;
margin-left: 45px;
}

.housing_title a
{
  
  margin-left: 10px;
 padding-top: 10px;
  text-decoration: none;
  color: black;
    
}

.housing-container 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.housing_hotel:hover 
{
  background:rgb(219, 228, 228) ;
  transform: translateY(-5px);
  transition: all 0.1s;

}


.housing_hotel
 {  
  
  
  border-radius: 20px;
   margin: 15px;
  transition: 0.1s;
  border:  4px solid rgb(253, 249, 249);
  /*filter: drop-shadow(0 0 5px rgb(26, 26, 202));       filtre*/
  background-color:white;
  width: 270px;
  padding-bottom: 10px;
  position: relative;

  
}

.housing_hotel a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

a
{
  color: black;
  text-decoration: none;
   
  
}
.housing-thumb
{
width: 100%;
height: 140px;
border-radius:20px 20px 0 0 ;
object-fit: cover;
transition: 0.1s;
position: relative;
transition-property: all;
}




.housing_body
{
padding-left: 10px;
position: relative;
width: 100%;
text-align: left;
transition-property: all;
box-sizing: border-box;
}


.housing_body_title
{
    font-size: 1rem;
    
}
    
.housing_body_price 
{
    font-size: 0.75rem
}


.housing_body_point 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  
}
/************************affiche*******************************/
.moore a
{
  text-decoration: none;
  
margin-top: 30px;

color: black;

margin-left: 45px

}

/************************aside plus populaire*********************************/

aside 
{
  
  display: flex;
  flex-direction: column;
  width: 30%;
  border:  3px solid rgb(253, 249, 249) ;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 17px;
  margin: 10px;
  margin-left: 60px;
  
}
.aside_title
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}
.aside_title_populaire a 
{
  text-decoration: none;
  color: black;

}
.direction 
{
  width: auto;
  height: auto;
  float: right;
  padding-top: 20px;
  font-size: 25px;
}

.aside-container
{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    position: relative;

  
 
}

.aside_hotel
 {
    position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: white;
  width: 420px;
  height: 160px;
  margin: 25px;
 transition: 0.1s;
 /*border:  4px solid rgb(253, 249, 249);*/
}


.aside-thumb
{
width: 135px;
height: 160px;
border-radius: 20px 0 0 20px;
object-fit: cover;
transition: 0.3s;
position: relative;
transition-property: all;
}


.aside-body

{
   float: right;
   width: 285px;
   height: 160px;
   text-align: left;
border-radius: 0 20px  20px 0 ;
transition: 0.1s;

}
.aside_hotel:hover 
{
  background: rgb(219, 228, 228);
  transform: translateY(-5px);
  transition: all 0.1s;

}

.aside-title-hotel
{
  margin-left: 10px;
  font-size: 1rem;
  margin-right: 100px;
  
}

.aside-price
{ 
  margin-left: 10px;
  font-size: 0.75rem

}



.aside-point
 {
 
  
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 10px;
  margin-top: 35px;
 
}

.blue-star 
{
  color: #0065fc;
}
.grey-star
 {
  color: rgb(218, 212, 212);
}





/************************activity*******************************/

#activity{
  margin-left: 0;
  width: 100%;
  margin-top: 50px;
  

}

.activity_title a
{
  text-decoration: none;
  color: black;
  
}
.activity-container
{
  width: auto;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  vertical-align: middle;
  column-gap: 30px;
  row-gap: 10px;
}

.activity_port{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
 background-color: white;
 border-radius: 30px;
 box-shadow: 0 5px 50px rgb(235, 231, 231); 
 height: 550px;
 border:4px solid rgb(253, 249, 249);
 padding-top: 0;
 transition: all.1s;
 }
 
.activity-thumb-port
{ 
  border-radius: 30px 30px 0 0  ;
  height: 500px;
 width: 400px
}
.activity_port:hover{
  transition: 0.1s;
  background-color: rgb(219, 228, 228);
  transform: translateY(-5px);
  }
.body-activity
{
    margin-left: 10px;
    margin-top: 10px;
 }

.activity_pomegues
{
background-color:white;
border-radius: 30px;
box-shadow: 0 5px 50px rgb(235, 231, 231); 
height: 300px;
transition: all 0.1s;
border:  4px solid rgb(253, 249, 249);
padding-top: 0;
}
.activity-thumb-pomegues
{
width: 400px;
height: 250px;
  justify-content: center;
  border-radius: 30px 30px 0 0  ;
  object-fit: cover;
}
.activity_pomegues:hover{
transition: 0.1s;
background-color: rgb(219, 228, 228);
transform: translateY(-5px);
}


  .activity_frioul
  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
     height: 200px;
     transition: all 0.1s;
   border:  4px solid rgb(253, 249, 249);
   padding-top: 0;
 }
 .activity-thumb-frioul
  {
    width: 400px;
    height: 150px;
    justify-content: center;
     border-radius: 30px 30px 0 0  ;
     object-fit: cover;
 
  }
 .activity_frioul:hover
 {
   transition: 0.1s;
   background-color:rgb(219, 228, 228);
   transform: translateY(-5px);
 }

  .activity_calanques{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 50px rgb(235, 231, 231); 
    height: 550px;
    transition: all 0.1s;
    border:  4px solid rgb(253, 249, 249);
    padding-top: 0;
   
 }
 .activity-thumb-calanques{
  object-fit: cover;
  border-radius: 30px 30px 0 0  ;
  height: 480px;
  width: 400px
 
}
 .activity_calanques:hover{
   transition: 0.3s;
   background-color:rgb(219, 228, 228);
   transform: translateY(-5px);

 }


.activity_garde{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231); 
   height: 220px;
   transition: all .1s;
   border:  4px solid rgb(253, 249, 249);
   padding-top: 0;
   
 }
 .activity-thumb-garde{
  width: 400px;
  height: 160px;
  justify-content: center;
   border-radius: 30px 30px 0 0  ;
   object-fit: cover;
}
 .activity_garde:hover{
   transition: 0.1s;
   background-color: rgb(219, 228, 228);
   transform: translateY(-5px);
 }


.activity_longchamp{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgb(235, 231, 231) ; 
  height: 240px;
  transition: all .1s;
  border:  4px solid rgb(253, 249, 249);
  position: relative;
}
.activity-thumb-longchamp{
  width: 400px;
  height: 180px;
  
   border-radius: 30px 30px 0 0  ; 
}

.activity_longchamp:hover{
  transition: 0.1s;
  background-color:rgb(219, 228, 228) ;
  transform: translateY(-5px);
}

/*****************************FOOTER**************************/
.footer_body 
{
  width: 100%;
  height: 100%;
  background-color:#F2F2F2;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: 50px;
}
.list{
  margin-left: 0;

  padding-right: 300px;
}
li{
  text-decoration: none;
  list-style: none;
}
.list-title-element
{
  padding-left: 5px;
  list-style: none;
  text-decoration: none;
  
  font-size: 1rem;
  
}
.list-element 
{
  padding: 5px;
  list-style: none;
  text-decoration: none;
  margin-top: 5px;
  
}

footer ul li a 
{
  text-decoration: none;
  color: black;
  
}


/**********************************/

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width:768px) and (max-width: 1024px)
{
  body {
    margin: 0;
    width: 95%;
  }
  
  header{
    background-color: lawngreen;
    height: 150px;
  }

  img{
    width: 100px; 
  }
  .logo 
  {
   position: absolute;
  }
nav li{
  background-color: cadetblue;
  float: inline-start;
  padding-top: 10px;

}
nav a {
  background-color: darkmagenta;
 
 
  
  
}
nav a :hover{
  border-bottom: 0;
}
.home3 {
  flex-direction: column;
}

}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 451px) and (max-width: 1024px){
  

}




/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait){

}